* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: white;
  color: var(--clr-primary-dark);
}

.header {
  width: 100%;
  padding: 5px;
  margin: auto;
  color: var(--clr-green-400);
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;

}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 20px;
  margin: auto;

}

.header__logo>svg {
  stroke: var(--clr-green-400);
  height: 50px;
  width: 50px;
}

.header__heading {
  width: fit-content;
  line-height: 20px;
}


.header__nav {
  width: 50%;

}

.header__links {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  width: 1fr;
  list-style: none;
}

.header__link {
  display: inline;
}

main {
  background-color: var(--clr-neutral-200);
}



.gallery {
  padding: 20px;
  text-align: center;
}

.gallery__heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
}

.gallery__description {
  width: 100%;
  margin: 20px auto;
}

.gallery__grid {
  width: 50%;
  overflow: hidden;
  margin: auto;
  display: grid;
  padding: 15px;
  background-color: var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
  grid-template: 1fr 1fr / repeat(6, 1fr);
  grid-template-areas:
    "image1 image1 image2 image3 image4 image4"
    "image1 image1 image5 image5 image6 image6"
  ;
  gap: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.gallery__image--1 {
  grid-area: image1;
}

.gallery__image--2 {
  grid-area: image2;
}

.gallery__image--3 {
  grid-area: image3;
}

.gallery__image--4 {
  grid-area: image4;
}

.gallery__image--5 {
  grid-area: image5;
}

.gallery__image--6 {
  grid-area: image6;
}




.newsletter {
  background-color: var(--clr-neutral-100);
  padding: 50px;
}

.newsletter__flex {
  display: flex;
  flex-flow: row nowrap;
  width: 40%;
  margin: auto;
  align-items: center;
}

.newsletter__heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  margin-bottom: 10px;

}

.newsletter__signup {
  border: 1px var(--clr-neutral-400) solid;
  border-radius: 50px;
  padding: 2px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.newsletter__input {
  margin: auto;
  background-color: var(--clr-neutral-100);
  border: none;
  color: var(--clr-neutral-900);
}

.newsletter__submit {
  height: 100%;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-green-400);
}

.newsletter__figure {
  padding: 40px;
  border-radius: 50%;
  background-color: var(--clr-green-400);
  max-width: 200px;
}

.newsletter__figure svg {
  margin: auto;
  width: 100%;
  height: 100%;

}

footer {
  background-color: var(--clr-green-400);
  color: var(--clr-neutral-100);

  li {
    list-style-type: none;
    font-weight: var(--fw-600);
  }

}

.plants {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 50%;
  margin: 50px auto;
}

.plants__card {
  width: 200px;
  padding: 15px;
  background-color: var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
  display: flex;
  flex-direction: column;
}

.plants__image {
  max-height: 120px;
  object-fit: contain;
  object-position: center;
}

.plants__tags {
  color: var(--clr-neutral-100);
  font-size: var(--fs-100);
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  margin: 10px auto;
}

.plants__tag {
  display: inline;
  padding: 5px 10px;
  border-radius: 99999px;
  background-color: var(--clr-neutral-900);
}

.plants__tag--robust {
  background-color: var(--clr-robust);
}

.plants__tag--green {
  background-color: var(--clr-green);
}

.plants__tag--flower {
  background-color: var(--clr-flower);
}

.plants__tag--colorful {
  background-color: var(--clr-colorful);
}

.plants__tag--sunloving {
  background-color: var(--clr-sunloving);
}

.plants__tag--air {
  background-color: var(--clr-air);
}

.plants__tag--decorative {
  background-color: var(--clr-decorative);
}

.plants__tag--edible {
  background-color: var(--clr-edible);
}

.plants__tag--easy {
  background-color: var(--clr-easy);
}

.plants__tag--fragrant {
  background-color: var(--clr-fragrant);
}

.plants__tag--fast {
  background-color: var(--clr-fast);
}

.plants__tag--spice {
  background-color: var(--clr-green-200);
}

.plants__heading {
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  margin: 15px 0;
}

.plants__description {
  margin-bottom: 20px;
  font-size: var(--fs-400);
}

.plants__profile {
  margin-top: auto;
  font-size: var(--fs-200);
  display: flex;
  place-items: center;
  gap: 10px;

  b {
    font-weight: var(--fw-600);
  }
}


.plants__avatar {
  width: 50px;
}


footer * {
  margin-bottom: 20px;

}

.footer__grid {
  display: grid;
  width: 50%;
  margin: auto;
  padding-top: 50px;
  grid-template-areas:
    "footer_logo footer_nav"
    "footer_desc footer_nav"
    "footer_contacts ."
  ;
  
}

.footer__logo {
  display: flex;
  width: 50%;
  gap: 20px;
  grid-area: footer_logo;
}

.footer__logo>svg {
  stroke: var(--clr-neutral-100);
  height: 50px;
  width: 50px;
}

.footer__heading {
  font-size: var(--fs-500);
  word-wrap: normal;
  width: 120px;
  text-justify: center;
}

.footer__description {
  width: 60%;
  grid-area: footer_desc;
}

.footer__contact-links {
  grid-area: footer_contacts;

  a {
    color: var(--clr-neutral-100);
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-content: center;
  }
}

.footer__nav {
  grid-area: footer_nav;
  width: 100px;
  justify-self: end;

  a {
    color: var(--clr-neutral-100);
    display: flex;
    flex-flow: row nowrap;
  }
}